<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/framework/bootstrap-wordpress.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/functionality</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>plugins/*/tests/integration</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>plugins/*/tests/functional</directory>
        </testsuite>
        <testsuite name="security">
            <directory>plugins/*/tests/security</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
        <env name="WP_TESTS_DB_NAME" value="wordpress_test"/>
        <env name="WP_TESTS_DB_USER" value="root"/>
        <env name="WP_TESTS_DB_PASSWORD" value="root"/>
        <env name="WP_TESTS_DB_HOST" value="localhost"/>
    </php>
    
    <coverage>
        <include>
            <directory>plugins/</directory>
            <directory>tools/</directory>
        </include>
        <exclude>
            <directory>vendor/</directory>
            <directory>node_modules/</directory>
            <directory>tests/</directory>
        </exclude>
    </coverage>
</phpunit>
