<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="false"
    >
    <testsuites>
        <testsuite name="BBPress Unit Tests">
            <directory suffix="Test.php">./tests/unit/</directory>
        </testsuite>
        <testsuite name="BBPress Integration Tests">
            <directory suffix="Test.php">./tests/integration/</directory>
        </testsuite>
        <testsuite name="BBPress Security Tests">
            <directory suffix="Test.php">./tests/security/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <directory>./templates</directory>
        </exclude>
    </coverage>
    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org"/>
        <const name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <const name="WP_TESTS_TITLE" value="BBPress Test Suite"/>
        <const name="WP_PHP_BINARY" value="php"/>
    </php>
</phpunit>